.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 24px;
  flex-wrap: wrap;
  // .pagination__more
  &__more {
    font-size: 14px;
    color: #949494;
    display: flex;
    align-items: center;
    gap: 10px;

    border: 1px solid #949494;
    border-radius: 5px;
    padding: 14px 144px;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;

    svg {
      display: block;
      margin-top: 2px;
      width: 15px;
      height: 16px;
      fill: #949494;
      transition: .2s ease;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: var(--accent-color);
        color: var(--accent-color);

        svg {
          animation: rotate backwards 1s;
        }
      }
    }
  }


  // .pagination__list-wrapper
  &__more-wrapper {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
  }

  // .pagination__list
  &__list {
    display: flex;
    align-items: center;
    gap: 3px;
  }

  // .pagination__item
  &__item {
  }

  // .pagination__btn
  &__btn {
    width: 20px;
    height: 20px;
    color: #353535;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
    @media (any-hover: hover) {
      &:hover {
        &:not(:has(.active)) {
          color: var(--accent-color);
        }
      }
    }

    &.active {
      background-color: var(--accent-color);
      border-radius: 50%;
      color: #fff;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    fill: #949494;
  }
  100% {
    transform: rotate(-360deg);
    fill: #7cac41;
  }

}