.popup {
  padding: 20px;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.51);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: start;
  justify-content: center;
  overflow: auto;
  opacity: 0;
  pointer-events: none;
  z-index: -1;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;

  &.active {
    opacity: 1;
    pointer-events: auto;
    z-index: 100;

  }

  &::-webkit-scrollbar {
    width: 4px;
    background-color: #fff;
  }

  @media screen and (max-width: 768px) {
    padding: 10px;
    align-items: start;
  }
  // .popup__content
  &__content {
    position: relative;
    z-index: 2;
    padding: 27px 45px;
    max-width: 880px;
    border-radius: 5px;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
    background-color: #fff;
    transition: .3s linear;
    opacity: 0;
    transform: translateY(-200px);
    @media screen and (max-width: 768px) {
      padding: 15px 15px;
    }

    &.active {
      opacity: 1;
      transform: translateY(0px);

    }

    .section-header {
      margin-bottom: 35px;
      @media screen and (max-width: 768px) {
        margin-bottom: 20px;
      }
      // .section-header__title
      &__title {
      }
    }
  }

  &__content-wrapper {
    position: relative;
  }

  &__content-pic {
    max-width: 100%;
  }
}

.popup-calculator {

  .calculator__action {
    @media screen and (max-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .policy {
    max-width: initial
  }

  .popup__content {
    max-width: 1092px;
  }

  .inputs-wrapper {
    flex-wrap: nowrap;
    @media screen and (max-width: 768px) {
      flex-wrap: wrap;
    }
  }

  .popup-left {
    .input__label {
      width: 100%;
      margin-bottom: 20px;
    }

    @media screen and (max-width: 992px) {
      flex: 0 1 50%;
    }
    @media screen and (max-width: 768px) {
      flex: 1 1 100%;
    }
  }

  .popup-right {
    flex: 0 1 500px;
    @media screen and (max-width: 992px) {
      flex: 0 1 50%;
    }
    @media screen and (max-width: 768px) {
      flex: 1 1 100%;
    }
  }

  .calculator-card__label {
    flex: 1 1 47%
  }
}

.popup-measuring {
  &__img {
    position: absolute;
    z-index: 1;
    top: -128px;
    left: -93px;
    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}

.popup-close {
  position: absolute;
  right: -25px;
  top: 0;

  svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #fff;
  }

  @media screen and (max-width: 768px) {
    top: 10px;
    right: 10px;
    svg {
      width: 34px;
      height: 34px;
      stroke: #000;
    }
  }
}


.popup-form {
}

.inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 18px;
  margin-bottom: 40px;
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
}

.input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #f7f7f7;
  outline: none;
  border: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -ms-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;

  &::placeholder {
    font-size: 12px;
    color: #949494;
  }

  &:not(:placeholder-shown) {
    + .input__header {
      transform: translateY(1px);
    }
  }

  &:focus {
    box-shadow: 0 0 0 2px var(--accent-color);
  }

  // .input__label
  &__label {
    flex: 0 1 47%;
    @media screen and (max-width: 768px) {
      flex: 1 1 100%;
    }
  }

  // .input__header
  &__header {
    font-size: 14px;
    color: #353535;
    margin-bottom: 20px;

    &.req {
      &:after {
        content: "*";
        color: #ff543e;
        font-size: 14px;
        margin-left: 3px;
      }
    }
  }

  // .input__label-textarea
  &__label-textarea {
    flex: 1 1 100%;
  }

  // .input__textarea
  &__textarea {
    height: 100px;
  }
}

.form-btns {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  flex-wrap: wrap;
}

.form-file {
  flex: 0 0 auto;
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 69px;
  font-size: 14px;
  text-align: center;
  color: #353535;
  border-radius: 5px;
  border: 1px solid #353535;

  @media screen and (max-width: 700px) {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 425px) {
    padding: 14px 15px;
  }

  input {
    position: absolute;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
  }

  svg {
    width: 24px;
    height: 24px;
    fill: var(--accent-color);
  }
}

.form-submit {
  flex: 0 0 auto;
  border-radius: 5px;
  font-size: 14px;
  color: #fff;
  background-color: var(--accent-color);
  padding: 14px 69px;
  @media screen and (max-width: 700px) {
    flex: 1 1 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 425px) {
    padding: 14px 15px;
  }
}

.policy {
  font-size: 12px;
  color: #949494;
  max-width: 485px;
  text-align: center;
  margin: 20px auto 0px;

  a {
    text-decoration: underline;
    transition: .3s ease;
    @media (any-hover: hover) {
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}